
  .servicios_prestados{
    background:white;
    border-style: solid;
    margin-top: 2%;
     border-width: 2px;
     text-align: center;
    
  }
  
  .servicio1{
    float: left;
    border: solid;
    color: white;
  }

  
  
  .servicio2{
    float: right;
  }

  

 


 

