footer h2{
    color: pink;
}

.contenedor_menu{
background: #F078E8;  
padding: 20px;
text-align: center;
}

.contenedor_pl{
    display: flex;

}

.menu_PL{
    list-style: none;
    padding: 0;
    background: #F078E8;
    width:90%;
    max-width: 900px;
    max-height: 140px;
    margin: auto;
    font-size: 20px; 
    border-radius: 5%;
}

.menu_PL li a{
    text-decoration: none;
    color: white;
    padding: 25px;
    display: block;
}

.menu_PL li{
    display: inline-block;
    text-align: center;
}

.div1_LM{
    color: #F5B7B1;
    display: inline-block;
    width: 400px
}

.Nosotros_LM{
    border-style: solid;
    margin-top: 0%;
    margin-bottom: 0%;
    background: white;
    display: inline-block;
   font-size: 20px;
   text-align: center;
   font-style: italic;

}

.misionVision_LM{
    float: left;
}

.texto_misionVision_LM{
    background: white;
   font-size: 20px;
   color: black;
   text-align: center;
}

.copry{
    color: whitesmoke;
}

