.icono{
  width: 40px; 
  height: 40px
}


img.fondo_img{
    width: 100%;
    height: 400px;
}

.tema{
background: white;
   border-style: solid;
   border-width: 2px;
   font-family: Calisto MT; 
  font-style: italic;
}

.Subtema{
    font-size: 20px;
    color: green;
}

.Titulo{
    color: black;
    font-size: 24px ;
    text-align: center;
}

.letrafoo{
    color: pink;    
}
  
.servicios_prestados{
    background: white;
    border-style: solid;
    margin-top: 2%;
     border-width: 2px;
     text-align: center;
    
  }
  
.servicio1{
    float: left;
   
  }
  
.servicio2{
    float: right;
  }

.copry{
      color: whitesmoke;
  }


.contenedor2_HL{
      margin-top: 2%;
    background: black;
    width: 100%;
    font-size: 20px; 
    line-height:0;
    padding: 20px 20px 20px 20px;
}

.parrafo{
  font-size: 25px;  
  font-family: Calisto MT; 
  font-style: italic;
  text-shadow: 1px  0px 0px black, 0px  1px 0px black;
}

.contenedor_menu{
background: pink;  
padding: 20px;
font-style: italic;
}

.contenedor_pl{
    width: 100%;
    text-align:center;
}

.menu_PL{
    list-style: none;
    padding: 0;
    background: pink;
    width:90%;
    max-width: 900px;
    max-height: 140px;
    margin: auto;
    font-size: 20px; 
    border-radius: 5%;
}

.menu_PL li a{
    text-decoration: none;
    color: black;
    border-color: white;
    padding: 25px;
    display: block;
    border-style: dashed;
}

.menu_PL li{
    display: inline-block;
    text-align: center;
}

.menu_PL li a:hover{
    background: lightblue;
}

.letraMenu{
    background: pink;   
    text-align: center;
}

.contenedor2_MF{
    background: black;
    width: 1295px;
    font-size: 20px; 
    line-height:0;
    padding: 20px 20px 20px 20px;   
}

.contenedor_parrafo_AH{
    border: 15px solid; 
    border-bottom-color: lightblue;
    border-top-color: lightblue;
    border-right-color: pink;
    border-left-color: pink; 
}

*{
    font-style: italic;
}

.introducción_AH{
    background: lightblue;
    width: 100%;
    max-width: 900px;
    text-align: center;
    padding: 10px;
    border-radius: 4%;
    font-size: 26px;
    margin: 0 auto;
}

#titulo_arreglos_AH{
    background: pink;
    text-align: center;
}

.titulo_1_AH{
    font-style: italic;
    text-align: center;
    width: 100%;
    margin:0 auto;
    background: pink;
    max-width: 800px;
}

.imagenes_arreglos_AH{
    width: 400px;
    font-style: italic;
    color: black;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.imagenes_flores_AH{
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.imagenes_flores_AH img{
    border: 10px solid;
    color: pink;
}

.contenedor_principal_arreglos_AH{
  text-align: center;
  padding-bottom:30px;
  padding-top: 25px;
}

.florales_AH{
    width: 200px;
    height: 250px;
    display: inline;
 }
 
 .video{
     text-align: center;
     margin: 0 auto;
 }
 
