*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.registro{
    width: 400px;
    background-color: lightblue;
   padding: 30px;
   margin: auto;
   margin-top: 100px;
   border-radius: 4px;
   font-family: 'calibri';
   color: ;
}

.pago{
    background: ;
}

.mensaje{
    background: pink;
}

.registro label{
font-size: 16px;
    font-weight:bolder;
}

.registro h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.registro p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}


.registro a{
    text-decoration: none;
}

.control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid;
    font-family: 'calibri';
    background: pink;
}

.boton{
    width: 100%;
    background: white;
    padding: 12px;
    border: none;
    color: black;
    margin: 16px 0;
    font-size: 16px;
}