.contenedor_menu{
padding-bottom: 60px;
font-style: italic;
}

.contenedor_pl{
    width: 100%;
    text-align: center;
}


.letraMenu{
    background: pink;   
    text-align: center;
}
 .registro-sucursales{
     width:550px;
     background:lightblue;
     padding: 30px;
     margin: auto;
     margin-top: 30px;
	 margin-bottom: 30px;
     border-radius: 10px;
     font-family: calibri;
    
}
.registro-sucursales h4{
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
    
}
.registro-sucursales h5{
    
    text-align: left;
    color:blue;
    
}
.contenedor{
    width: 96%;
    background: #f8d8dd;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border:2px solid violet;
    font-family: calibri;
    font-size: 18px;
    
}
.contenedorO{
  text-align: center;
}
.registro-sucursales .boton {
    
    background: lightpink;
    color:black;
    width:100px; 
    margin: 15px -40px; 
    position:relative;
    left:47%;
  
    padding: 10px;
    font-weight: 600;
    border-radius: 6px;
    border: 2px solid black;
    
    
}
.registro-sucursales .boton:hover{
    background: lightblue;
    
}
.contenedor2_MF{
    background: black;
    width: 1295px;
    line-height:0;
    padding: 20px 20px 20px 20px;
    color:white;
    
}

.icono{
    width: 40px; 
    height: 40px
}

.letrafoo{
    color: pink;    
}

footer{
    width: 1310px;
    font-style: italic;
}

.contenedor_secundario1_pl{
  text-align: center;
  padding-bottom: 30px;
  padding-top: 25px;
}

.nombres_pl{
    background: pink;
    display:inline-block;
    width: 400px;
    font-style: italic;
    text-align: center;
    color: black;
}

.nombres1_pl{
    background: lightblue;
    display:inline-block;
    width: 400px;
    font-style: italic;
    text-align: center;
    color: black;
}

.nombres_pl_1{
    display:inline-block;
    width: 400px;
    font-style: italic;
    color: black;
    text-align: center;
}


.imagen_cuadro_pl img{
    padding-top: 20px;
    width: 250px;
    height: 300px;
    padding-bottom: 10px;
}

.texto_precio_pl{
    text-align: center;
    border-color: pink;
    border-style: dashed;
}

.menu_PL{
    list-style: none;
    padding: 0;
    background: lightblue;
    width:90%;
    max-width: 900px;
    max-height: 140px;
    margin: auto; 
    font-size: 16px;
}

header{
    margin:auto;
    width: 1200px;
    font-family: helvetica;
    background: lightblue;
    padding: 40px;
}

ul{
    list-style: none;
}

.menu_PL li a{
    background: lightblue;
    color: white;
    text-decoration: none;
    padding: 20px 25px;
    display: block;
}

.menu_PL li{
    padding-left: 10px;
    padding-right: 10px;
}

.menu_PL > li{
    float:left;
}

.menu_PL li a:hover{
    background: pink;
    border-style: dashed; border-color: white;
}

.menu_PL li ul{
    display: none;
    position: absolute;
    min-width: 300px;
}

.menu_PL li:hover > ul{
    display: block
}
