.logo1_new{
   width: 175px; 
   height: 75px;
   float: left;
}

.menu_PL{
    list-style: none;
    padding: 0;
    background: lightblue;
    width:90%;
    max-width: 900px;
    max-height: 140px;
    margin: auto; 
    font-size: 16px;
}

.logo2{
width: 175px; 
height: 75px;
float: right;

}
.contenedor_menu{
padding-bottom: 50px;
font-style: italic;
}

.contenedor_pl{
    width: 100%;
    text-align: center;
}

.letraMenu{
    background: pink;   
    text-align: center;
}

.contenedor2_MF{
    background: black;
    width: 1295px;
    font-size: 20px; 
    line-height:0;
    padding: 20px 20px 20px 20px;
    
}

.icono{
    width: 40px; 
    height: 40px
}

.letrafoo{
    color: pink;    
}

footer{
    width: 1310px;
    font-style: italic;
    text-align: left;
    color: white;
}

.contenedor_secundario1_pl{
  text-align: center;
  padding-bottom: 30px;
  padding-top: 25px;
}
