.nombres_pl{
    background: pink;
    display:inline-block;
    width: 400px;
    font-style: italic;
    text-align: center;
    color: black;
}

.nombres1_pl{
    background: lightblue;
    display:inline-block;
    width: 400px;
    font-style: italic;
    text-align: center;
    color: black;
}

.nombres_pl_1{
    display:inline-block;
    width: 400px;
    font-style: italic;
    color: black;
    text-align: center;
}


.imagen_cuadro_pl img{
    padding-top: 20px;
    width: 250px;
    height: 300px;
    padding-bottom: 10px;
}

.texto_precio_pl{
    text-align: center;
    border-color: pink;
    border-style: dashed;
}



header{
    margin:auto;
    width: 1200px;
    font-family: helvetica;
    background: lightblue;
    padding: 40px;
}

ul{
    list-style: none;
}

.menu_PL li a{
    background: lightblue;
    color: white;
    text-decoration: none;
    padding: 20px 25px;
    display: block;
}

.menu_PL li{
    padding-left: 10px;
    padding-right: 10px;
}

.menu_PL > li{
    float:left;
}

.menu_PL li a:hover{
    background: pink;
    border-style: dashed; border-color: white;
}

.menu_PL li ul{
    display: none;
    position: absolute;
    min-width: 300px;
}

.menu_PL li:hover > ul{
    display: block
}

.contenedor_form{
    margin-right: 650px;
    box-sizing: border-box;  
}

.form_reservacion{
    width: 400px;
    background: lightblue;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 4px;
    color:black;
}

.form_reservacion h2{
    font-size: 20px;
    margin-bottom: 20px;
}

.casillas{
    width: 100%;
    background: white;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 1px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid pink;
    font-size: 16px;  
}

 .form_reservacion .botones{
    text-align: center;
    width: 90%;
    background: pink;
    border-style: dashed;
    padding: 10px;
    margin: 25px;
    font-size: 14px;
}

